.recipe-item {
  transition: background-color 0.3s ease;
  background-color:rgb(214, 197, 175);
  border: none;
  margin-bottom: 20px;
 }
 
 
 .closedrecipe-container {
 justify-content: center;
 margin-left: 25px;
 margin-bottom: 20px;
 margin-right: 25px;
 }
 
 
 .expand-icon img {
  width: 30px;
  height: auto;
  transition: transform 0.3s ease;
 }
 
 
 .flipped {
  transform: rotate(180deg);
 }
 
 
 .button-container {
  display: flex;
  align-items: center;
 }
 
 
 .expand-icon {
  margin-right: 8px;
 }
 
 
 .flav-icon img {
  width: 30px;
  height: 30px;
  margin-top: 22px;
 }
 
 
 .trash-icon img {
  width: 25px;
  height: 25px;
  margin-top: 22px;
 }
 
.cart-icon img {
  mix-blend-mode:multiply;
  width: 40px;
  height: 25px;
  margin-top:22px;
   margin-left:-8px;
}
 
 .flav-count {
  font-size: 18px;
  margin-top: -12px;
  margin-left: 5px;
 }
 
 
 .tag-item {
  list-style-type: none;
  color: rgb(54, 97, 69);
  display: inline;
  margin-right: 5px;
  font-weight: bold;
 } 

 .title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .title-buttons {
    display: flex;
    align-items: center;
  }
  
  .title-buttons h3 {
    margin-right: 10px;
  }
  
  .button-container {
    display: flex;
    align-items: center;
  }
  
  .like-button,
  .add-to-list-button,
  .delete-button {
    margin-right: 12px; 
    margin-top: 5px;
  }
  
  .flav-arrow-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }