/* AddRecipe.css */

.add-container {
    display: flex;
    justify-content: center;
    padding: 0px 20px;
    margin: 0px 10px 0px 10px;
  }

.label-container {
    display: flex;
    margin: 0px 0px 0px 30px;
}

.header-text {
    font-size: 40px;
    color:rgb(54, 97, 69);
    margin: 10px 0px 10px 40px;
}

.label-text {
    font-size: 24px;
    color: rgb(85, 57, 80);
    margin: 10px 10px 0px 10px;
}

.add-button {
    font-size: 18px;
    padding: 8px 10px;
    cursor: pointer;

    /*chose random color that I thought was cute and earthy -- we can change if necessary*/
    background-color: rgb(81, 119, 71); 
    color: white;

    position: static;
    bottom: 40px;
    left: 20px;
  }

.add-button:hover {
    /* button gets slightly darker when hovering*/
    background-color: rgb(79, 101, 64); 
}

.add-ingredient-button {
    background-color: rgb(85, 57, 80);
}