/* Toolbar.css */
.toolbar {
    background-color: rgb(221, 105, 32);
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .secondary-toolbar {
    background-color: rgb(191, 79, 16); /* Slightly darker shade of orange */
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 4px; /* Adjust padding to make the secondary toolbar less tall */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
   
  }
  
  .toolbar-link {
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .secondary-toolbar .toolbar-link {
    font-size: 18px; /* Adjust font size for the secondary toolbar */
  }
  
  .toolbar-link:hover {
    background-color: rgb(197, 94, 30);
  }
  
  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .png-iframe {
    width: 1500px;
    height: 80px;
    border: none;
  }
  