/* AddRecipe.css */

/*.add-container {
    display: flex;
    justify-content: center;
    max-width: 400px;
    padding: 40px 20px;
    margin: 40px 20px;
  }
*/

.header-text {
    font-size: 35px;
    color:rgb(81, 119, 71);
    margin: 40px;
}

.title-text {
    font-size: 24px;
    color: rgb(112, 85, 69);
    margin: 40px 40px;
}

.prep-text {
    font-size: 24px;
    color: rgb(112, 85, 69);
    margin: 0px 250px;
}

.title-input {
    margin: 0px 20px;
    font-size: 18px;
    padding: 10px;
    width: 200px;
    height: 20px;
    border: 1px solid rgb(120, 74, 47);
    border-radius: 4px;
  }

.prep-input {
    font-size: 18px;
    padding: 10px;
    width: 200px;
    height: 20px;
    border: 1px solid rgb(120, 74, 47);
    border-radius: 4px;
}

.cook-input {
    font-size: 18px;
    padding: 10px;
    width: 200px;
    height: 20px;
    border: 1px solid rgb(120, 74, 47);
    border-radius: 4px;
}

.instructions-input {
    font-size: 18px;
    padding: 10px;
    width: 300px;
    height: 100px;
    border: 1px solid rgb(120, 74, 47);
    border-radius: 4px;
}

.add-button {
    font-size: 18px;
    padding: 8px 10px;
    cursor: pointer;

    /*chose random color that I thought was cute and earthy -- we can change if necessary*/
    background-color: rgb(81, 119, 71); 
    color: white;

    position: static;
    bottom: 40px;
    left: 20px;
  }

.add-button:hover {
    /* button gets slightly darker when hovering*/
    background-color: rgb(79, 101, 64); 
}