/* CreatePage.css */

button {
    /* Style your button here */
    font-size: 24px;
    padding: 10px 20px;
    cursor: pointer;

    background-color: darkolivegreen;
    color: white;

    position: fixed;
    bottom: 100;
    left: 100;
  }
  
  p {
    /* Style for the 'Feature coming soon' text */
    font-size: 20px;
    color: #333;
  }
  