.add-item-container {
  display: flex;
  align-items: center;
}

.ingredient-input {
  flex: 7;
  padding: 8px;
  margin-right: 4px;
}

.add-item-button {
  flex: 1;
  padding: 4px;
  font-size: 14px;
  background-color: rgb(81, 119, 71);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.discard-button {
  padding: 8px 12px;
  background-color: rgb(241, 56, 56);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.discard-button:hover {
  background-color: darkred;
}

.checkbox {
  display: none; /* Hide checkbox */
}

.grocery-item {
  cursor: pointer;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.grocery-item:hover,
.grocery-item.checked {
  color: red;
  text-decoration: line-through;
}

.header {
  color: #0f699e;
  padding: 16px;
  text-align: center;
}

.header-line1 {
  font-weight: bold;
  color: #1486c7;
  font-size: 18px;
}

.header-line2 {
  color: #093f5f;
  font-size: 14px;
}
  
  