  .login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
  }

  .error-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: -50px;
  }

  .link-wrapper {
    display: flex;
    justify-content: center;
  }

  .logo-container {
    display: flex;
    justify-content: center;
  }

  .logo {
    mix-blend-mode:multiply;
  } 
  
  .signup-link {
    /* margin-top:-15px; */
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
  
  img {
    /* margin-top:-20px; */
    height: 300px; /* Example size */
    margin-bottom: 20px   /*-50px; /* Example spacing */
    /* Other styles */
  }

  .error-message {
    text-align: center;
    width: 100%;
    margin-top: 20px;
  }

  .cred-boxes {
    /* margin-top:-60px; */
  }
  
  .error-message {
    text-align: center;
    width: 100%;
    margin-top: 20px; 
  }