/* SearchPage.css */

  .search-container {
    justify-content: center;
    display: flex;
    margin: 30px 0px -10px 0px;
    position: relative;
  }
  
  .search-input {
    padding: 10px;
    margin-right: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
  }
  
  .search-button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: rgb(86, 112, 69);
    color: white;
    cursor: pointer;
    position: static;
    width: 200px;
  }

  .search-button:hover {
    background-color: rgb(79, 101, 64);
  }

  .search-user {
    justify-content: center;
    display: flex;
    width: 230px;
    height: 25px;
    font-size: 16px;
  }

  .no-results {
    color: red;
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
  }